body{
    margin: 0px;
    font-size: 75px;
    text-align: center;
    background-image: linear-gradient(75deg, rgba(255, 0, 0, 0.065), rgba(255, 255, 0, 0.912), rgba(0, 0, 255, 0.444) );
}
.va{
    display: inline-block;
    position: relative;
    left: 4rem;
    text-align: center;
    padding-top: 3rem;
}
img{
    width: 700px;
    height: 467px;
}
td{
    text-align: center;
    text-transform: uppercase;
}
nav{
    display: block;
}

.nav-link li {
    display: inline-block;
    margin: 15px;
    background-color: #fff;
}
.nav-logo{
    display: inline-block;
    width: 50px;
    height: 50px;
    display: block;
}
.nav-logoo{
    width: 50px;
    height: 50px;
}

nav-logo{
    background-color: black;
    width: 100%;
}

/* TABLET */
@media screen and (max-width: 1536px) {
    .nav-links {
      width: 75%;
      margin-left: 10px;
    }
  }

/* MOBILE */
@media screen and (max-width: 768px) {
    /* body {
      display: none;
    } */
  
    body {
      overflow-x: hidden;
    }